.btn{
  background:#2f8393;
}
.btn-danger{
  background-color: #d9534f;
  border-color: #d43f3a;
  &:hover{
    background-color: #c9302c;
    border-color: #ac2925;
  }
}
.btn-primary{
  background-color: #337ab7;
  border-color: #2e6da4;
  &:hover {
    background-color: #286090;
    border-color: #204d74;
  }
}
.btn-info{
  background-color: #5bc0de;
  border-color: #46b8da;
  &:hover {
    background-color: #31b0d5;
    border-color: #269abc;
  }
}
.btn-default {
    color: #333;
    background-color: #fff;
    border:1px solid #ccc;
    &:hover {
      color: #333;
      background-color: #e6e6e6;
      border-color: #adadad;
  }
}
a.btn-default {
  background-color: #fff;
  border: 1px solid #333;
  color: #333;
}
a.btn-default.active,a.btn-default.focus,a.btn-default:active,a.btn-default:focus,a.btn-default:hover,.open>.dropdown-toggle.btn-default {
  background-color: #e6e6e6;
  border-color: #adadad;
  color: #333;
}

#toggle-chat{
  background: #c8102e;
  background: rgba(200,16,46,0.9);
  border: 1px solid #872434;
  border-bottom: 0;
  border-radius: 0.5em 0.5em 0 0;
  -moz-border-radius: 0.5em 0.5em 0 0;
  -webkit-border-radius: 0.5em 0.5em 0 0;
  bottom: 0px;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 18px;
  line-height: 150%;
  padding: 5px 20px 5px 20px;
  position: fixed;
  text-align: center;
  z-index: 1000;
  right: 20px;
    &:hover{
      padding-bottom: 10px;
    }
}
#close-chat{
  position: absolute;
  right: 10px;
  top: 5px;
  cursor:pointer;
}